body{
    background-image: url(/PJ2/static/images/hall-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: wheat;
    position: relative;
}
header {
    width: 1200px;
    height: 180px;
    margin: 60px auto 20px auto;
}
#user-info {
    position: relative;
}
#user-info>#icon{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: grey;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    border: 4px solid white;
    overflow: hidden;
}

#user-info>#name {
    position: absolute;
    top: 24px;
    left: 200px;
    font-size: 40px;
    font-weight: bold;
}

#user-info>#carrots {
    position: absolute;
    left: 200px;
    top: 110px;
    font-size: 16px;
}
#logout-button {
    position: absolute;
    right: 0px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: darkred;
    font-size: 28px;
}

#content {
    width: 1200px;
    margin: 0 auto;
}

nav {
    width: 100%;
    background-color: rgba(30, 128, 119, 0.7);
    margin-bottom: 16px;
}
nav>ul {
    width: 1200px;
    margin: 0 auto;
}

nav li {
    list-style-type: none;
    float: left;
    width: 100px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: white;
}
nav li:hover {
    background-color: rgba(0, 150, 136, 0.7);
}
#match {
    position: relative;
}

#match>#matching-info {
    position: absolute;
    top: 100px;
    left: 500px;
}

#match>button {
    width: 140px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid white;
    background: transparent;
    color: white;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 140px;
    left: 530px;
}
table#game-records-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 946px;
    height: 580px;
    display: block;
    background: rgba(128, 128, 128, 0.1);
}
table#game-records-table tr {
    height: 100px;
    border-top: 1px solid wheat;
    border-bottom: 1px solid wheat;
}
table#game-records-table tr:hover {
    background: rgba(184, 134, 11, 0.1);
}
table#game-records-table td.win-or-lose {
    position: relative;
    width: 160px;
}
td{
    vertical-align: middle;
}
td.win-or-lose .win {
    color: darkgreen;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
td.win-or-lose .lose {
    color: darkred;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
td.win-or-lose .positive {
    color: goldenrod;
    text-align: center;
    font-size: 14px;
}
td.win-or-lose .negative {
    color: grey;
    text-align: center;
    font-size: 14px;
}

table#game-records-table td.user {
    position: relative;
    width: 180px;
}

#game-records-table .small-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid white;
    overflow: hidden;
}
#game-records-table .my-name{
    color: #FFC107;
}
#game-records-table .cards-left {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 72px;
}
#game-records-table .name{
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 72px;
    font-size: 16px;
}
td.time {
    width: 160px;
    padding-right: 60px;
}
td.time .continue-time {
    color: grey;
    text-align: center;
    font-size: 14px;
}
td.time .begin-time {
    color: grey;
    text-align: center;
    font-size: 14px;
}

/* 商城 背包 */
.type{
    width: 20%;
    float: left;
    padding-top: 20px
}
.type li {
    list-style: none;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.type-click {
    font-weight: bold;
    text-shadow: 0px 0px 20px greenyellow;
}
.items {
    width: 80%;
    height: 580px;
    float: left;
    background: rgba(128, 128, 128, 0.1);
}
.items li {
    list-style: none;
    float: left;
    width: 22.7%;
    margin: 1%;
    border: 1px solid wheat;
    padding: 10px 0;
    text-align: center;
    color: wheat;
    text-shadow: 1px 1px 1px black;
}
.items li:hover {
    background: rgba(184, 134, 11, 0.1);
}
.item-icon{
    width: 160px;
    height: 160px;
}
.item-card-skin{
    width: 128px;
    height: 192px;
    border-radius: 4px;
}
.items button {
    display: none;
    border: 1px solid wheat;
    border-radius: 4px;
    padding: 0 4px;
    background: transparent;
    color: wheat;
    cursor: pointer;
    outline: none;
    font-size: 10px;
}
.items button:hover {
    border: 1px solid goldenrod;
    background: goldenrod;
    color: white;
}


#rules {
    display: none;
    position: relative;
    top: 200px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: 760px;
    margin: 0 auto;
    border-radius: 10px;
}
#rules p {
    margin: 20px 0;
}
button#show-rules:hover {
    background: rgba(0, 0, 0, 0.3);
}
button#show-rules {
    top: 0px;
    left: 1100px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
}