body{
    background-image: url(/PJ2/static/images/login-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 600px;
    margin: 200px auto 0 auto;
    padding: 40px 0 80px 0;
    background: rgba(0,0,0,0.5);
    border-radius: 8px;
}
h1 {
    position: relative;
    left: 100px;
    margin-bottom: 20px;
}
label {
    color: wheat;
}
form {
    margin: 0 auto;
    width: 400px;
    line-height: 30px;
    padding: 0 0 20px 0;
}
input {
    color: white;
    width: 100%;
    height: 28px;
    background: transparent;
    border: 1px dotted #999999;
    padding-left: 6px;
    font-size: 16px;
}

input:focus {
    outline-color: #4CAF50;
}
button {
    display: block;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 400px;
    height: 36px;
    border: none;
    margin: 0 auto 10px auto;
    background-color: #4CAF50;
    opacity: 0.7;
    border-radius: 6px;
    outline: none;
}

button:hover {
    background-color: #265728;
    cursor: pointer;
}

#login-now{
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: darkgreen;
}