body{
    width: 100%;
    height: 900px;
    background-image: url(/PJ2/static/images/table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#player-left{
    position: absolute;
    left: 160px;
    top: 100px;
}

#player-right{
    position: absolute;
    right: 160px;
    top: 100px;   
}

.icon{
    background-color: grey;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    border: 4px solid white;
    overflow: hidden;
}
.name{
    color: green;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

#player-i{
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#time-left{
    color: white;
    font-size: 30px;
    width: 200px;
    margin: 0 auto 100px auto;
    text-align: center;
}

#time{
    display: inline-block;
    width: 38px;
}


#cards{
    height: 256px;
    margin: 0 auto;
}

.card{
    display: inline-block;
    width: 50px;
    height: 256px;
    position: relative;
    top: 0px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}
.card>img{
    width: 172px;
    height: 256px;
}

#my-turn-module{
    width: 240px;
    margin: 40px auto 140px auto;
}

#my-turn-module>button[disabled=disabled] {
    background-color: #265728;
    opacity: 0.6;
    font-size: 16px;
    box-shadow:0px 0px 20px #000000;
}

#my-turn-module>button[disabled=disabled]:hover {
    font-size: 16px;
}

#my-turn-module>button{
    color: white;
    font-size: 16px;
    text-align: center;
    width: 80px;
    height: 40px;
    border: none;
    background-color: #4CAF50;
    border-radius: 6px;
    outline: none;
}
#my-turn-module>button:hover {
    background-color: #265728;
    font-size: 18px;
    transition: 0.2s;
    cursor: pointer;
    box-shadow:0px 0px 20px #000000;
}
#my-turn-module>button:active{
    transform: translateY(3px);
}

#play-card{
    float: left;
}

#pass{
    float: right;
}

#game-result {
    position: absolute;
    z-index: 1;
    left: 600px;
    top: 300px;
    width: 600px;
    height: 400px;
    background: rgba(0,0,0,0.5);
    color: white;
}