body{
    width: 100%;
    height: 900px;
    background-image: url(/PJ2/static/images/table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#player-left{
    position: absolute;
    left: 160px;
    top: 100px;
}
#player-left .number-of-cards {
    float: right;
    margin-right: 20px;
}

#player-right{
    position: absolute;
    right: 160px;
    top: 100px;   
}
#player-right .number-of-cards {
    float: left;
    margin-right: 20px;
}

#player-my {
    position: absolute;
    right: 100px;
    bottom: 160px;
}

#player-my .number-of-cards {
    float: left;
    margin-right: 20px;
}
.icon{
    background-color: wheat;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    border: 4px solid white;
    overflow: hidden;
    opacity: 0.8;
}
.icon>img{
    width: 160px;
    height: 160px;
}
.name{
    color: green;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.number-of-cards {
    background-size: 128px 192px;
    width: 128px;
    height: 192px;
    margin: 0 auto;
    color: wheat;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 4px 8px black;
    line-height: 192px;
    text-align: center;
    border-radius: 8px;
    opacity: 0.8;
}

#time-left{
    color: white;
    font-size: 30px;
    width: 200px;
    margin: 0 auto 20px auto;
    text-align: center;
}

#time{
    display: inline-block;
    width: 38px;
}

#player-i{
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#cards{
    height: 256px;
    margin: 0 auto;
}

.card{
    display: inline-block;
    width: 50px;
    height: 256px;
    position: relative;
    top: 0px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}
.card>img{
    width: 172px;
    height: 256px;
}

#my-turn-module{
    width: 240px;
    margin: 40px auto 140px auto;
}

#my-turn-module>button[disabled=disabled] {
    background-color: #265728;
    opacity: 0.6;
    font-size: 16px;
    box-shadow:0px 0px 20px #000000;
}

#my-turn-module>button[disabled=disabled]:hover {
    font-size: 16px;
}

#my-turn-module>button{
    color: white;
    font-size: 16px;
    text-align: center;
    width: 80px;
    height: 40px;
    border: none;
    background-color: #4CAF50;
    border-radius: 6px;
    outline: none;
}
#my-turn-module>button:hover {
    background-color: #265728;
    font-size: 18px;
    transition: 0.2s;
    cursor: pointer;
    box-shadow:0px 0px 20px #000000;
}
#my-turn-module>button:active{
    transform: translateY(3px);
}

#play-card{
    float: left;
}

#pass{
    float: right;
}

#max-cards{
    margin: 0 auto;
    height: 128px;
    padding-bottom: 48px
}

#max-cards li{
    width: 28px;
    height: 128px;
    display: inline-block;
}
#max-cards img{
    width: 86px;
    height: 128px;
}


#game-result {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.5);
    color: white;
}

#result-container {
    width: 600px;
    margin: 300px auto 0 auto;
    padding: 40px 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

table#result-table {
    width: 100%;
    padding: 10px 60px;
    margin: 20px 0;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.6);
}
h1 {
    text-align: center;
}
button#game-result-OK {
    display: block;
    width: 120px;
    height: 36px;
    margin: 0 auto;
    border: 1px solid wheat;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 16px;
    text-align: center;
}