<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>欢迎来到PJ2 跑得快游戏!</title>
	<link rel="stylesheet" href="static/css/common.css">
	<link rel="stylesheet" href="static/css/hall.css">
	<link rel="stylesheet" href="static/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/plugins/scroller/jquery.mCustomScrollbar.css">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="static/js/lib/jquery.cookie.js"></script>
	<script src="static/js/lib/vue.min.js"></script>
	<script src="static/plugins/scroller/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="static/js/hall.js"></script>
</head>

<body>
	<header>
		<div id="user-info">
			<div id="icon">
				<img src="" width="160px" height="160px">
			</div>
			<div id="name"></div>
			<div id="carrots">胡萝卜: <span id="quantity"></span></div>
			<button id="logout-button" title="退出登录"><i class="fa fa-power-off"></i></button>
		</div>
	</header>
	<nav class="clearfix" id="nav">
		<ul>
			<li>匹配大厅</li>
			<li>游戏记录</li>
			<li>商店</li>
			<li>背包</li>
		</ul>          
	</nav>
	<div id="content">
		<div id="match"> 
			<button id="show-rules">规则</button>
			<div id="matching-info"></div>  
			<button id="cancel-match">取消匹配</button>
			<button id="match-game">寻找对局</button>
			<div id="rules">
				<h3 style="text-align: center">PJ2游戏规则</h3>
				参与人数：3人<br>
				游戏道具：扑克牌一副（去掉大小王，三张2，一张A），每人16张牌<br>
				出牌时间：30s，超过30s自动PASS<br>
				输赢判断：先出完自己手中的牌为赢<br>
				积分计算：赢家获得另外两家手中牌之和*100的积分，输家减少自己手中牌*100的积分<br>
				牌由大到小：2、A、K、Q、J、10、9、8、7、6、5、4、3<br>
				<h4>牌型介绍：</h4>
				单张：任意一张牌；<br>
				对子：两张大小相同的牌；<br>
				连对：两个或以上连续对子，如：5566。<br>
				三带二：三张牌点相同的牌，最多带二张杂牌，不限单双，可以不带牌，如：55566、5557、555；<br>
				四带三：与三带二类似，可以最多带三张杂牌，不做炸弹；<br>
				飞机：两个或以上连续“三带二”，最多可以带n*2张杂牌如：5556667788，QQQKKK3899。<br>
				顺子：五张或五张以上连续的单牌。例如：3456789,10JQKA等。<br>
				炸弹：四张牌点相同的牌，如：6666、8888。
			</div>
		</div>
		<div id="game-records">
			<h4>游戏记录</h4>	
			<table id="game-records-table">
				<template v-for="record in records">
					<tr>
						<td class="win-or-lose">
							<div v-if="record.winner==record.myName" class="win">胜利</div>
							<div v-else class="lose">失败</div>
							<div v-if="record.myCarrotsChange>0" class="positive">+{{record.myCarrotsChange}}</div>
							<div v-else class="negative">{{record.myCarrotsChange}}</div>
						</td>
						<td class="user" v-bind:class="{ 'my-name': (record.myName==record.names[0]) }">
							<div class="small-icon">
								<img v-bind:src="record.icons[0]" width="60px" height="60px" />
							</div>
							<div class="name">{{record.names[0]}}</div>
							<div class="cards-left">
								<i class="fa fa-square-o"> {{record.cardsLeft[0]}}</i>
							</div>	
						</td>

						<td class="user" v-bind:class="{ 'my-name': (record.myName==record.names[1]) }">
							<div class="small-icon">
								<img v-bind:src="record.icons[1]" width="60px" height="60px" />
							</div>
							<div class="name">{{record.names[1]}}</div>
							<div class="cards-left">
								<i class="fa fa-square-o"> {{record.cardsLeft[1]}}</i>
							</div>
						</td>
						<td class="user" v-bind:class="{ 'my-name': (record.myName==record.names[2]) }">
							<div class="small-icon">
								<img v-bind:src="record.icons[2]" width="60px" height="60px" />
							</div>
							<div class="name">{{record.names[2]}}</div>
							<div class="cards-left">
								<i class="fa fa-square-o"> {{record.cardsLeft[2]}}</i>
							</div>
						</td>
						<td class="time">
							<div class="continue-time">{{record.continueTime}}</div>
							<div class="begin-time">{{record.beginTime}}</div>
						</td>
					</tr>	
				</template>	
			</table>
		</div>
		<div id="shop">
			<h4>商店</h4>
			<ul class="type">
				<li id="icon" v-on:click="type='icon'" v-bind:class="{'type-click': type=='icon'}">图标</li>
				<li id="card-skin" v-on:click="type='card-skin'" v-bind:class="{'type-click': type=='card-skin'}">卡片皮肤</li>
			</ul>
			<div class="items">
				<ul>
					<li v-for="item in items" v-bind:id="'shop-item'+'-'+item.id">
						<img v-bind:src="item.fileName" v-bind:class="itemClass"><br>
						<span>{{item.name}}</span><br>
						<span>{{item.price}}</span>
						<button class="buy">购买</button>
					</li>
				</ul>
			</div>
		</div>
		<div id="bag">
			<h4>背包</h4>
			<ul class="type">
				<li id="icon" v-on:click="type='icon'" v-bind:class="{'type-click': type=='icon'}">图标</li>
				<li id="card-skin" v-on:click="type='card-skin'" v-bind:class="{'type-click': type=='card-skin'}">卡片皮肤</li>
			</ul>
			<div class="items">
				<ul>
					<li v-for="item in items" v-bind:id="'bag-item'+'-'+item.id">
						<img v-bind:src="item.fileName" v-bind:class="itemClass"><br>
						<span>{{item.name}}</span>
						<button class="use">使用</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="message-box-container">
		<div id="message-box"></div>
	</div>
</body>
</html>